/*
* This file is the style for whole PERSEO's map
* all rights grantedo to PERSEO's team.
* Author: PERSEO's development squad.
* Placed on Tepic, Nayarit, México.
*/

html, body, #map{
  color: rgb(51, 51, 51);
  height: 100vh;
  width: 100%;
  margin: 0em;
}

#panelLogo{
  position: absolute;
  top: 1em;
  left: 2em;
}

/*Animaciones de aparición*/

@keyframes fade-in-tree {
  0%{
    opacity: 0;
    transform: translateY(-8em);
  }

  25%{
    opacity: 0;
    transform: translateY(-5em);
  }

  75%{
    opacity: 0.5;

  }

  100%{
    opacity: 1;
    transform: translateY(0em);
  }
}

@keyframes fade-out-tree {
  0%{
    opacity: 1;
    transform: translateY(0em);
  }

  25%{
    opacity: 0.8;
  }

  40%{
    opacity: 0;
  }

  100%{
    opacity: 0;
    transform: translateY(-15em);
  }
}

@keyframes up-and-down {
  0%{
    transform: translateY(-0.15em);
  }
  50%{
    transform: translateY(0.15em);
  }
  100%{
    transform: translateY(-0.15em);
  }
}

@keyframes rotate180 {
  0%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

/*Clases para las animaciones*/
.fade-in-tree{
  animation-name: fade-in-tree;
  animation-duration: 0.5s;
}

.fade-out-tree{
  animation-name: fade-out-tree;
  animation-duration: 1s;
}

.up-and-down{
  animation-name: up-and-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.rotate180{
  animation-name: rotate180;
  animation-duration: 0.5s;
}
/*clases del arbol de capas*/

.floating-logo{
  border-radius: 0.2em;
  background-color: rgb(224, 224, 224);
  transition: ease 0.2s;
  position: relative;
  display: inline-grid;
  text-align: center;
  z-index: 99;
}

.floating-logo,.arbolCapas{
  box-shadow: 0px 5px 15px #717171;
}

.floating-logo img.logo{
  position: relative;
  height: 5em;
  padding: 0.5em;
}

.floating-logo .actions{
  transition: ease 0.4s;
}

.actions > a{
  display: block;
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.floating-logo .actions:hover{
  background-color: rgb(203, 203, 203);
  transition: ease 0.2s;
}

.floating-logo .actions .material-icons{
  padding-top: 0.2em;
  font-size: 2em;
}

.ol-control button{
  display: none;
}

.arbolCapas{
  margin-top: 0.5em;
  background-color: rgb(228, 228, 228);
  border-radius: 0.2em;
  z-index: 98;
}

.arbolCapas p{
  margin: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: solid 3px rgb(176, 175, 175);
}

.arbolCapas ul{
  padding: 0em;
}

.arbolCapas ul.listaCapas{
  margin: 0em;
  max-height: calc(100vh - 16em);
  overflow-y: auto;
}

.arbolCapas ul.listaCapas li{
  list-style-type: none;
}

.arbolCapas ul.listaCapas li > a{
  padding: 0.5em 1.5em;
  font-size: 1.05em;
  text-decoration: none;
  display: block;
  color: rgb(51, 51, 51);
  transition: ease 0.2s;
}

.arbolCapas ul.listaCapas li > a.activa{
  background-color: rgb(203, 203, 203);
  transition: ease 0.2s;
}

.arbolCapas ul.listaCapas li > a:hover{
  background-color: rgb(168, 166, 166);
  transition: ease 0.2s;
  cursor: pointer;
}

.hide{
  display: none;
}

.arbolCapas>p.encabezado{
  background-color: rgb(32, 182, 164);
  border-radius: 0.2em 0.2em 0em 0em;
  color: white;
}

.arbolCapas .titulo{
  background-color: rgb(21, 133, 119);
  color: white;
}

/*---------- Modales -----------*/
.modal-dialogs {
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s;
}

@keyframes animatetop {
    from {top:100%}
    to {top:75%}
}

.draw-chart{
  -webkit-animation-name: animate-draw;
  -webkit-animation-duration: 1.3s;
  animation-name: animate-draw;
  animation-duration: 1.3s;
}
@keyframes animate-draw {
    from {opacity:0}
    to {opacity:1}
}

.hint-modal-lyric{
    right: 0;
    position: absolute;
    font-family: Raleway;
    font-size: 12px;
    font-weight: bold
}
.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  text-align: justify;
}
